.header {
    background-color: #222222;
    color: #fff;
    padding: 19px 0;
    overflow: hidden;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
    transition: all 400ms ease;

    &:hover {
        transition: all 400ms ease;
        -moz-transform: rotate(360deg) scale(1.2);
        -webkit-transform: rotate(360deg) scale(1.2);
        -o-transform: rotate(360deg) scale(1.2);
        -ms-transform: rotate(360deg) scale(1.2);
        transform: rotate(360deg) scale(1.2);
    }
}



.search-button,
.menu-button,
.regestry-link,
.cart-link {
    background-color: transparent;
    border: none;
    fill: #FFFFFF;
    transition: 0.5s ease;

    &:hover {
        background-color: transparent;
        border: none;
        fill: #F16D7F;
        transition: 0.5s ease;
    }
}

.header-right {
    display: flex;
    align-items: center;
}

.regestry-link,
.cart-link {
    text-decoration: none;
    color: transparent;
    margin-left: 33px;
}

.main-nav {
    width: 232px;
    height: 765px;
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    right: 0;
    top: 80px;
    color: #000;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    transition: 0.5s;
}

.main-nav--open {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.main-nav--close {
    //   -webkit-transform: scaleY(0);
    //           transform: scaleY(0);
    display: none;
}

.main-nav-box {
    display: flex;
    flex-direction: column;
}

.main-nav-close {
    background-color: #fff;
    border: none;
    display: inline-block;
    align-self: flex-end;
}

.main-nav-list {
    margin-left: -39px;
    margin-top: -15px;
}

.submenu-list {
    margin-left: -18px;
}

.main-nav-item,
.submenu-item {
    list-style: none;
}

.menu-item-link {
    text-decoration: none;
    color: #F16D7F;
    display: block;
    padding: 6px 0;
}

.submenu-item-link {
    text-decoration: none;
    color: #6F6E6E;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: block;
    padding: 8px 0;
}