.header {
    background-color: #222222;
    color: #fff;
    padding: 19px 0;
    overflow: hidden;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
    transition: all 400ms ease;

    &:hover {
        transition: all 400ms ease;
        -moz-transform: rotate(360deg) scale(1.2);
        -webkit-transform: rotate(360deg) scale(1.2);
        -o-transform: rotate(360deg) scale(1.2);
        -ms-transform: rotate(360deg) scale(1.2);
        transform: rotate(360deg) scale(1.2);
    }
}



.search-button,
.menu-button,
.regestry-link,
.cart-link {
    background-color: transparent;
    border: none;
    fill: #FFFFFF;
    transition: 0.5s ease;

    &:hover {
        background-color: transparent;
        border: none;
        fill: #F16D7F;
        transition: 0.5s ease;
    }
}

.header-right {
    display: flex;
    align-items: center;
}

.regestry-link,
.cart-link {
    text-decoration: none;
    color: transparent;
    margin-left: 33px;
}